@import "shared.scss";

#comparison {
  #right {
    #top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    .imageWrapper {
      width: 20%;
    }
    #down {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}