@import "shared.scss";

#comparison {
  display: flex;
  flex-direction: column;
  #top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    img {
      margin: 60px
    }
  }
  #down {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}