@import "shared.scss";

#comparison {
  margin-top: 30%;
  margin-bottom: 30%;
  #left {
    p {

    }
    h2 {

    }
  }
  #right {
    #top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .image {
      margin-left: auto;
      margin-right: auto;
    }
    #down {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div {
      margin-right: auto;
      margin-left: auto;
    }
  }
}