@import "shared.scss";

.featureViewContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: calc(100vh);
    padding: 60px 20px 60px 20px;

    @media screen and (max-width: $mobile-width) {
        flex-direction: column;
    }

    .list {
        padding: 0;
    }

    .videoContainer {
        position: relative;
        display: block;
        margin: auto auto;
        padding-right: 20px;
        width: 60%;

        @media screen and (max-width: $mobile-width) {
            padding-right: 0;
            width: 100%;
        }
    }

    .textContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        line-height: 100%;
        margin: 0 auto;
        width: 40%;

        .listItem {
            margin-bottom: 20px;
        }

        @media screen and (max-width: $mobile-width) {
            width: 100%;
        }
    }
}