
@import 'shared.scss';


.featureList{
    padding:50px;
    padding-left:100px;
    .content{
        box-sizing: content-box;
        .header{
            .title{
                font-size:30px;
                padding:20px;
                padding-bottom:0;
            }
            .subtitle{
                font-size:20px;
                font-weight:bold;
            }
        }
        .body{
            ul{
                list-style-type: none;
                padding-left:0;
                li{
                    padding:9px 10px;
                    display:flex;
                    .imgWrapper{
                        float:left;
                        width:50px;
                        .img {
                            position:relative;
                            top:50%;
                            margin-top:-50%;
                            width:50px;
                            height:50px;
                        }
                    }
                    .titleDesc{
                        margin-left:30px;
                        float:left;
                        max-width: 35vw;
                        //height:50px;
                        .desc {
                        }

                        .title {
                            padding:10px 0;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width:$mobile-width) {
    .featureList{
        padding:50px 10px 100px 10px !important;
        .content{
            .header{
                .title{
                    margin:0 auto !important;
                    h1{
                        text-align:center !important;
                    }
                }

                .subtitle{
                    text-align:center !important;
                }
            }
            .body{
                ul{
                    padding:0 !important;
                    li{
                        display:block;
                        overflow:hidden;
                        .imgWrapper{
                            width:100% !important;
                            .img {
                                display:block !important;
                                margin: 0 auto !important;
                            }
                        }
                        
                        .titleDesc{
                            margin: 0;
                            text-align:center !important;
                            height:auto !important;
                            display:block !important;
                            max-width: 100vw;
                            .desc {
                                
                            }
                            
                            .title {
                            }
                            padding-bottom:50px;
                        }
    
                    }
                }
            }
            .foot{
                position:relative;
                .buttonWrapper{
                    position: absolute;
                    left:50%;
                    transform: translate(-50%);
                }
            }
        }
    }
}