@import "shared.scss";

body{
    height: 100%;
}

.btMargin {
  margin: 30px 0 30px 0;
}

  @media screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    margin: 0 100px 0 100px;

    .innerTextContainer {
      width: 100%;
      text-align: center;
    }
    .innerImageContainer {
      width: 100%;
      margin-top: 50px;
      .bigLogo {
        display: none;
      }
      .smallLogo {
        margin: auto;
        display: block !important;
        width: 400px;
      }
    }
    .btMargin {
      margin: 30px 0 30px 0;
    }
  }
}