@import "shared.scss";

body{
    height: 100%;
}

.firstRow{
    flex-basis: 90%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.btnWraper {
    margin-left: 30px;
}

.left {
    flex-basis: 50%;
    .leftInner{
        position:relative;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        max-width: 700px;
        h1 {
          padding-left: 30px;
        }
        p {
          padding: 30px;
        }
    }
  }

.right{
    flex-basis: 50%;
    align-items: center;
    justify-content: center;

    .telefonLaptop{
        position: relative;
        top:calc(50% + 70px);
        left:50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: auto;
    }
}


@media screen and (max-width: $mobile-width){
    .firstRow{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
    }
    
    .left{
        width: 100%;
    }

    .right{
        width: 50%;
        justify-content: space-around;

        .telefonLaptop{
            top:50%;
        }
    }

    .telefon{
        width: 100%;
        height: auto;
    }
    .btnWraper {
        width: 170px;
        height: 40px;
        margin: 0 auto;
      }
}