@import "shared.scss";

.homeLandingViewContainer {
  display: flex;
  flex-direction: row;
  margin: 20px 100px 0 100px;

  .innerTextContainer {
    width: 50%;
    margin: auto;
  }
  .innerImageContainer {
    width: 50%;
    margin: auto;
    .bigLogo {
      width: 700px;
    }
    .smallLogo {
      display: none;
    }
  }
  .bigText {
    font-size: 50px;
  }
  .mediumText {
    font-size: 22px;
    margin: 30px 0 30px 0;
  }
  .smallText {
    margin: 0px 0 50px 0;
  }

  @media screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 0 10px;

    .innerTextContainer {
      width: 100%;
      text-align: center;
    }
    .innerImageContainer {
      width: 100%;
      margin-top: 50px;
      .bigLogo {
        display: none;
      }
      .smallLogo {
        margin: auto;
        display: block !important;
        width: 60%;
      }
    }
    .bigText {
      font-size: 40px;
    }
    .mediumText {
      font-size: 20px;
    }
    .smallText {
      font-size: 15px;
    }
  }
}