.topWrapper{
    position:relative;
    background:#3c3c3b;
    #topParallax{
        height:calc(100vh - 70px);
        overflow:hidden;
        position:relative;

        .innerParallax{
            transition: scale 0.01s;
            height:calc(100vh - 70px);
            position:fixed;
        }
    }
    #waveCover{
        /*position:absolute;
        bottom:-10px;*/
        position:relative;
        z-index: 2000;
        width:100vw;
        padding-bottom:-20px;
        overflow: hidden;
        .svg-wave{
            width:100vw;
        }
    }
}

#bottom_parallax{
    margin-top:-10px;
    background:#f2f2f2;
    z-index:1000;
    position:relative;
}