@import "shared.scss";

.planets {
    z-index: 4000;
    position: absolute;
    top:-20%;
    left:62%;
    .redPlanet{

        img{
            width:40vw;
        }
    }

    .moon{
        position: relative;
        top:60px;
        left:20vw;
        img{
            width:15vw;
        }
    }
    @media screen and (max-width:$mobile-width +250px){
        img{
            display:none;
        }
    }
}