@import "shared.scss";

.planets{
    position: absolute;
    top:-10%;
    left:62%;
    .redPlanet{

        img{
            width:400%;
        }
    }

    .moon{
        position: relative;
        top:50%;
        left:180%;
        img{
            width:200%;
        }
    }
    @media screen and (max-width:$mobile-width +250px){
        img{
            display:none;
        }
    }
}