@import "shared.scss";

.planets {
  z-index: 4000;
  position: absolute;
  left: 55%;
  right: 0;
  bottom: 30%;
  img {
    width: 40vw;
  }
}

@media screen and (max-width:$mobile-width +250px){
  img{
    display:none;
  }
}