@import 'shared.scss';

.topBottomWave{
    width:100vw;
    .top{
        
        @media screen and (max-width:$mobile-width){
            background-color:#f2f2f2;
        }
    }
    
    .waveImage{
        margin-bottom:-5px;
        width:100%;
    }

    .bottomWrapper{
        background: #3c3c3b;
        .bottom{
            background: #3c3c3b;
            position:relative;
            background-size: cover !important;
            .bottomInner{
                padding-top:50px;
                padding-bottom:50px;
                @media screen and (max-width:$mobile-width){
                    padding-top:40px;
                    padding-bottom:40px;
                }
                @media screen and (max-width:$small-mobile-width){
                    padding-top:20px;
                    padding-bottom:0;
                }
            }
        }
    }
}