@import "shared.scss";

.topBottomWave{
    position:relative;
    .top{
        position:absolute;
        top:0;
        width:100vw;
        height:50%;
        overflow:hidden;
        .topInner{
            position: absolute;
            top:50%;
            transform: translate(0,-50%);
            width:100vw;
        }
    }
    
    img{
        background-color:#f6f7f9;
        
        @media screen and (max-width:$mobile-width){
            background-color:#f2f2f2;
        }
    }
    
    .bottom{
        position: absolute;
        bottom:0;
        width:100vw;
        height:50%;
        overflow:hidden;
        .bottomInner{
            position: absolute;
            top:50%;
            transform: translate(0,-50%);
            width:100vw;
        }
    }
}