@import 'shared.scss';

$bar-height:70px;

.topBar{
    background:#3a3a3a;
    height:$bar-height;
    position:relative;
    width:100%;
    overflow: hidden;
    transition:height 0.5s;

    .innerBarWrapper{
        transition:height 0.5s 0.5s;
        position:relative;
        width:100%;
        height:100%;

        .innerBar{
            top:50%;
            position:absolute;
            transform:translate(0,-50%);
            padding-left:20px;
            padding-right:20px;
            width:calc(100%);
            display:flex;
            flex-wrap:nowrap;
            flex-direction: row;

            .topBarBlock{
                order:1;
                text-align: center;

                .bslogo{
                    width:100px;
                }
                
                .topLinkWrapper{
                    padding-left:20px;
                    padding-top:10px;
                    height:40px;
                    display: flex;
                    justify-content:center;
                    align-content:center;
                    flex-direction:column;
                    
                    .topLink{
                        bottom:0;
                        font-size:17px;
                        text-decoration: none;
                        color: $LIGHT-GREY;
                        line-height:20px;
                        font-weight: 500;
                        padding-left: 30px;
                    }
                }
            }
            .linkLonger{
                .topLinkWrapper{
                    width:200px !important;
                }
                width:200px !important;
            }
        }
        
    }
    @media screen and (max-width: $mobile-width) {
        .innerBar{
            justify-content: space-between;
        }

        .blocks{
            .innerBar{
                justify-content: space-evenly;
            }
        }

        .logo{
    
        }
        .blocks{
            display:none;
        }
    
        .topLinkWrapper{
            padding-left:0 !important;
            padding-top:0 !important;

            .topLink{
                padding-left:0 !important;
            }
        }
    }
}

.menuOpen{
    height:$bar-height + 70px;
    .innerBarWrapper{
        transition:none;
        height:$bar-height;
    }
    .blocks{
        display:block !important;

        .topBarBlock{

        }
    }
}